<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroku Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <style>
        section {
            max-width: 80%;
            margin: 50px auto 0 auto;
        }

        form {
            max-width: 600px;
            margin: 0 auto;
        }

        a.navbar-item.title {
            color: #FFFFFF;
            font-family: 'Roboto Condensed', sans-serif;

        }

        a.navbar-item.title:hover {
            background-color: transparent;
        }

        .center {
            text-align: center;
        }
    </style>
</head>
<body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <a class="navbar-item title" href="/">
            SB+H
        </a>
    </nav>
    <section>
        <h1 class="title center">Sign Up</h1>
        <form action="">
            <div class="card">
                <div class="card-content">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="e.g Alex Smith">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                          <label class="checkbox">
                            <input type="checkbox">
                            I agree to the <a href="#">terms and conditions</a>
                          </label>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                          <button class="button is-dark">Submit</button>
                        </div>
                        <div class="control">
                          <button class="button is-link is-light">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</body>
</html>